<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/threads">
        <img src="images/icon.png" width="20px" height="20px">
      </a>
    </div>
    <form class="navbar-form navbar-left" method="post" action="/searchuser/">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search Users" name="search">
      </div>
      <button type="submit" class="btn btn-primary">Find user</button>
    </form>
    <a href="/users"><button type="button" class="btn btn-primary">Show all users</button></a>
    <a href="/threads"><button type="button" class="btn btn-primary">Show all threads</button></a>
    <p class="navbar-text navbar-right" style="margin-right: 20px"><a href="/out" class="navbar-link">Sign out</a></p>
    <p class="navbar-text navbar-right" style="margin-right: 20px">Signed in as <a href="/user/<%= session[:id] %>" class="navbar-link"><%= User.first(:id => session[:id]).username %></a></p>
  </div>
</nav>

<div style="height: 95px"> </div>

<div style="text-align: center"><img src="images/marvellogo.png" style="height: 120px; width: 200px"></div>

<h2>Users</h2>

<table class="table">
  <tr>
    <th>Username</th>
    <th>Posts</th>
  </tr>
  <% @users.each do |user| %>
      <tr>
        <td><a href="/user/<%= user.id.to_s %>"><%= user.username %></a></td>
        <td><%= user.posts.length %></td>
      </tr>
  <% end %>
</table>