<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/threads">
        <img src="images/icon.png" width="20px" height="20px">
      </a>
    </div>
    <form class="navbar-form navbar-left" method="post" action="/searchuser/">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search Users" name="search">
      </div>
      <button type="submit" class="btn btn-primary">Find user</button>
    </form>
    <a href="/users"><button type="button" class="btn btn-primary" style="width: 300px">Show all users</button></a>
    <a href="/threads"><button type="button" class="btn btn-primary" style="width: 300px">Show all threads</button></a>
    <p class="navbar-text navbar-right" style="margin-right: 20px"><a href="/out" class="navbar-link">Sign out</a></p>
    <p class="navbar-text navbar-right" style="margin-right: 20px">Signed in as <a href="/user/<%= session[:id] %>" class="navbar-link"><%= User.first(:id => session[:id]).username %></a></p>
  </div>
</nav>

<div style="height: 95px"> </div>

<div style="text-align: center"><img src="images/marvellogo.png" style="height: 120px; width: 200px"></div>

<h2 style="text-align: center"><%= @thread.topic %></h2>

<table class="table">
  <tr>
    <th>Title</th>
    <th>Post</th>
    <th>Creator</th>
    <th style="width: 250px">Created at</th>
    <th></th>
  </tr>
  <% @posts.each_with_index do |post, i| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.info %></td>
        <td><a href="/user/<%= @author[i] %>"><%= @authors[i] %></a></td>
        <td style="width: 250px"><%= post.time %></td>
        <% if post.user_id == session[:id] %>
        <td><form method="post" action="/post/<%= post.id %>/delete" class="remove-post">
          <input type="submit" value="Remove" class="btn btn-danger">
        </form></td>
            <% else %>
        <td></td>
            <% end %>
      </tr>
  <% end %>
</table>

<form method="post" action="/thread/<%= @thread.id %>/posts" style="text-align: center">
  <div class="form-group">
    <input placeholder="Post Title" name="title" class="center">
  </div>
  <div class="form-group">
    <textarea placeholder="Post" name="info" style="width: 150px; height: 100px" class="center"></textarea>
  </div>
  <input type="submit" class="btn btn-primary">
</form>

